
@media (max-width: 700px) {
   

    
   
    .icon {
        display: none;
    }

    .init {
        visibility: visible;
        font-style: oblique;
        font-size: larger;
        font-kerning: inherit;
        font-weight: bold;
            font-size: x-large;
    }

    .hero img {
        height: 300px;
    }

    .methods {
        display: none;
    }

    .methods-element {
        display: none;
    }
   

    .about-et {
        width: 99%;
    }

    .main {
        grid-template-columns: 1fr;

    }

}