@media (max-width: 769px) {




    .icon {
        display: none;
    }

    .init {
        visibility: visible;
        font-style: oblique;
        font-size: larger;
        font-kerning: inherit;
        font-weight: bold;
        font-size: x-large;
        color:rgb(255, 255, 255);
    }

    .hero img {
        height: 300px;
    }

    .methods {
        display: none;

    }

    .methods-element a {
       
        display: none;
    }
    .nav-methods {
      display: none;
    }


    .nav-methods a{
        color:#000;
        font-weight: bolder;
        text-transform:uppercase;
        font-size: 1.2em;
    }

    .nav-methods a :hover {
        padding: 3px;
    }


    .about-et {
        width: 99%;
    }

    .main {
        grid-template-columns: 1fr;

    }

}