* {
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(240, 236, 236);
}
.container {

    width: 100%;
    height: 100%;

}
.center{
    text-align: center;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: inherit;
    grid-row: 1;
    background: bisque;
}

.header-nav {

    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: baseline;
    list-style: none;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.icon {
    width: 20%;
}

.header-nav-element {

    display: inline-block;
    padding: 4px;
    margin: 4px;
    list-style: none;



    /* 
    Stiles
    */

    border: 2.2px solid blue;
    background-color: aqua;
    border-radius: 5px;
}


.hero img {
    width: 100%;
    height: 400px;
    border: solid red;

}

.main {
    display: grid;
    margin-top: 1em;
    grid-gap: 10px;
    grid-template-rows: 100rem, 100rem;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
    align-items: stretch;

}

.download-github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.download-github img {
    height: 200px;

}

.tutorial{
    margin-bottom: 1rem;
}

.tutorial video{

    border:solid blue;
    display:flex;
    align-content: center;
    padding:10px; 
}


footer p{
    background: aqua;
    margin:1em;
    padding:2em;
}

.init {
    visibility: hidden;
}

.methods {
    height: 100%;
}

.methods-element {
    margin: 5px;
}