* {
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(240, 236, 236);
    width:100%; 
    margin: 0;
    padding: 0;
}
.container {

    width:99%;
    height:99%;

}
.center{
    text-align: center;
}
.to-top{
   
    background: #00974B;
    border: thin solid #fff;
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom:2px;
    z-index: 999999999;
    
}
.to-top i{
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px 10px 7px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 90px;
    font-size: 40px;

}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: inherit;
    grid-row: 1;
    background: rgb(133, 255, 174);
  
     
    
}

.header-nav {

    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: baseline;
    list-style: none;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.icon {
    width: 20%;
}

.header-nav-element {

    display: inline-block;
    padding: 4px;
    margin: 4px;
    list-style: none;



    /* 
    Stiles
    */

    border: 2.2px solid blue;
    background-color: aqua;
    border-radius: 5px;
}
.nav-methods{
    background: rgb(211, 250, 255);

}

.hero img {
    width: 100%;
    height: 400px;
    border: solid #07fcfc;
    border-radius: 10px;


}

.main {
    display: grid;
    margin-right: 5px;
    margin-top: 1em;
    grid-gap: 10px;
    grid-template-rows: 100rem, 100rem;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
    align-items: stretch;

}

.download-github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.download-github img {
    height: 200px;

}

.tutorial{
    margin-bottom: 1rem;
}

.tutorial video{

    
    display:flex;
    align-content: center;
    padding:20px; 
}


footer p{
    background: aqua;
    margin:1em;
    padding:2em;
}

.init {
    visibility: hidden;
}

.methods {
    height: 100%;
}

.methods-element {
    margin: 5px;
}